$small: 600px;
$medium: 768px;
$large: 992px;

@mixin for-small {
  @media only screen and (max-width: $small) {
    @content;
  }
}

@mixin for-medium {
  @media only screen and (max-width: $medium) {
    @content;
  }
}

@mixin for-large {
  @media only screen and (max-width: $large) {
    @content;
  }
}

.hero {
  position: relative;
  height: calc(100vh - 10.9rem);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1s ease-out;
  // z-index: 99;

  @include for-small() {
    height: auto;
  }

  .container {
    height: 100%;
    background-color: #0000003f;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 4rem;
    position: relative;

    @include for-small() {
      padding: 5rem 0rem;
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #fff;

      h1 {
        font-weight: 700;
        font-size: 3.2rem;
        margin-bottom: 1rem;

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 2rem;
        text-align: center;
        flex-wrap: wrap;

        .icon {
          border: 0.4rem solid white;
          border-radius: 50%;
          height: 5rem;
          width: 5rem;

          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            font-size: 2.5rem;
          }
        }
      }

      h2 {
        margin: 0;
        padding: 0;
        font-size: 2rem;
      }
    }

    .error {
      padding: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      color: red;
      transition: all 0.2s ease-in-out;
    }

    .depart-from {
      position: relative;
    }

    .airport-search-depart,
    .airport-search-flying {
      -ms-overflow-style: none;
      /* IE and Edge */
      scrollbar-width: none;
      /* Firefox */
    }


    .content {
      width: 90%;
      // background-color: white;
      // padding: 2rem;
      // border-radius: 1rem;
      display: flex;
      flex-direction: column;
      // border: 1px solid red;
      position: relative;

      
      .tabs {
        ul {
          display: flex;

          li {
            list-style: none;
            padding: 1rem 2rem;
            font-size: 1.6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            background: #2e70ab;
            color: white;
            cursor: pointer;
            transition: all .2s ease-in-out;
          }

          .active {
            background: white;
            color: #2e70ab;

          }
        }
      }

      &-container {
        display: flex;
        flex-direction: column;
        // gap: 2rem;
        // border: 1px dashed #111;
        // padding: 2rem;
        border-radius: 0rem 1rem 1rem 1rem;
        background-color: white;
        position: relative;




        .top {
          display: flex;
          align-items: center;
          gap: 2rem;
          padding: 2rem;
          flex-wrap: wrap;

          @include for-small() {
            padding: 1rem;
          }

          .trip-type,
          .trip-class {
            select {
              //   border: 1px solid rgba(128, 128, 128, 0.336);
              background: none;
              padding: 0.5rem;
              border-radius: 3rem;
              border: none;
              outline: none;
              font-size: 1.4rem;
            }
          }

          .trip-passengers {
            position: relative;

            button {
              border: 1px solid rgba(128, 128, 128, 0.336);
              background: none;
              padding: 0.5rem 1rem;
              border-radius: 3rem;
              border: none;
              cursor: pointer;
              font-size: 1.4rem;

            }

            .passenger-counter {
              width: 25rem;
              position: absolute;
              z-index: 9999;
              transition: all 0.2s ease-in-out;

              // box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

              .passenger-counter-container {
                display: flex;
                flex-direction: column;
                background-color: white;
                padding: 1.5rem;
                gap: 0.5rem;
                padding: 1rem;
                border: 1px solid rgba(128, 128, 128, 0.336);
              }

              .counter {
                display: flex;
                align-items: center;
                justify-content: space-between;

                &>* {
                  flex: 1;
                }

                label {
                  font-size: 1.5rem;
                }

                .actions {
                  display: flex;
                  align-items: center;
                  justify-content: space-between;

                  &> :not(:nth-child(2)) {
                    background-color: #2e70ab;
                    color: white;
                    cursor: pointer;
                  }

                  &>* {
                    flex: 1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1.5rem;
                    font-weight: bold;
                  }
                }
              }
            }
          }
        }

        .middle {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: flex-start;
          gap: 2rem;
          padding: 2rem;

          @include for-small() {
            flex-direction: column;
          }



          .item {
            border: 1px solid rgba(128, 128, 128, 0.336);
            flex: 1;
            padding: 1rem;
            height: 9rem;

            @include for-small() {
              width: 100%;
            }

            label {
              font-size: 1.2rem;
              text-transform: uppercase;
            }

            .input {
              display: flex;
              align-items: center;

              input {
                width: 100%;
                border: none;
                font-size: 1.8rem;
                outline: none;
                font-weight: bold;
              }
            }

            .airport-detail {
              text-transform: capitalize;
            }
          }

          .disabled {
            // opacity: .8;
          }

          .swap {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 1px solid rgba(128, 128, 128, 0.336);
            width: 5rem;
            height: 5rem;
            border-radius: 50%;

            @include for-small() {
              display: none;
            }
          }

          .submit {
            position: absolute;
            right: 0;
            bottom: -10%;
            z-index: 999;
            overflow: hidden;

            @include for-small() {
              bottom: 0;
            }

            button {
              border: none;
              padding: 1rem 2rem;
              width: 20rem;
              height: 5rem;
              background: #2e70ab;
              color: white;
              font-size: 1.6rem;
              cursor: pointer;
              display: flex;
              align-items: center;
              justify-content: center;
              gap: 1rem;
              transition: all 0.2s ease-in-out;
              overflow: hidden;

              svg {
                width: 2rem;
                transition: all 0.2s ease-in-out;
              }

              &:hover {
                svg {
                  // position: absolute;
                  transform: rotate(45deg);
                  // margin-left: 100%;
                }
              }
            }
          }
        }
      }

      .airport-search-depart {
        width: 100%;
        max-height: 25rem;
        overflow-y: scroll;
        position: absolute;
        top: 100%;
        left: 0;
        background: white;
        // border: 1px solid red;
        padding: 0rem 4rem;
        border-radius: 0rem 0rem 2rem 2rem;

        // @include for-small() {
        //   position: absolute;
        //   width: 95%;
        //   top: 13rem;
        //   right: 1rem;
        //   max-height: 30rem;
        //   background-color: white;
        // }

        @include for-small() {
          top: 45%;
        }

        &::-webkit-scrollbar {
          display: none;
        }

        .airport-search__result {
          display: flex;
          flex-direction: row;
          transition: 0.2s all ease-in-out;
          cursor: pointer;

          &:hover {
            background-color: whitesmoke;
          }

          &>* {
            flex: 1;
            font-size: 1.5rem;
            padding: 1rem;
          }

          .airport__iata {
            flex: 0.5;

            @include for-small() {
              display: none;
            }
          }
        }
      }

      
      .airport-search-flying {
        width: 100%;
        max-height: 25rem;
        overflow-y: scroll;
        position: absolute;
        top: 100%;
        left: 0;
        background: white;
        // border: 1px solid red;
        padding: 0rem 4rem;
        border-radius: 0rem 0rem 2rem 2rem;

        @include for-small() {
          top: 65%;
        }

        &::-webkit-scrollbar {
          display: none;
        }

        .airport-search__result {
          display: flex;
          flex-direction: row;
          transition: 0.2s all ease-in-out;
          cursor: pointer;

          &:hover {
            background-color: whitesmoke;
          }

          &>* {
            flex: 1;
            font-size: 1.5rem;
            padding: 1rem;
          }

          .airport__iata {
            flex: 0.5;

            @include for-small() {
              display: none;
            }
          }
        }
      }
    }
  }
}


