$small : 600px;
$medium : 768px;
$large : 992px;


@mixin for-small{
    @media only screen and (max-width: $small) {
        @content
      }  
}

@mixin for-medium{
    @media only screen and (max-width: $medium) {
        @content
      }  
}

@mixin for-large{
    @media only screen and (max-width: $large) {
        @content
      }  
}



.newsletter{
    overflow: hidden;
    padding: 10rem 4rem;

    @include for-small{
        padding: 5rem 2rem;
    }

    .container{
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5rem;

        .titles{
            display: flex;
            flex-direction: column;
            align-items: center;
            h2{
                font-size: 5rem;
                text-align: center;
            }
    
            p{
                font-size: 2rem;
                text-align: center;

    
            }
        }

        .email{

            background-color: whitesmoke;
            border-radius: 3rem;
            // padding: .5rem;
            display: flex;
            flex-direction: row;
            border: .01rem solid gray;

            @include for-small{
             flex-direction: column;  
             border: none;
             background-color: transparent; 
             gap: 2rem;    
            }


            input{
                padding: 1rem 2em;
                background-color: transparent;
                border: none;
                border-radius: 2rem;
                outline: none;
                font-size: 1.5rem;

                @include for-small{
                    background-color: whitesmoke;
                    border: .01rem solid gray;
                }

              
            }

            button{
                padding: 1rem 2em;
                border: none;
                background-color: #2e70ab;
                color: white;
                border-radius: 2rem;
                cursor: pointer;
                transition: .1s all ease-in-out;
                font-size: 1.5rem;


                &:hover{
                    background-color: #0c487c;

                }
            }
        }

    }

}