$small : 600px;
$medium : 768px;
$large : 992px;


@mixin for-small{
    @media only screen and (max-width: $small) {
        @content
      }  
}

@mixin for-medium{
    @media only screen and (max-width: $medium) {
        @content
      }  
}

@mixin for-large{
    @media only screen and (max-width: $large) {
        @content
      }  
}


.flight-detail{
    overflow: hidden;
    padding: 10rem 4rem;

    @include for-small{
        padding: 5rem 2rem;
    }
    .container{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4rem;

        li{
            list-style: disc;
        }

        .heading{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            h2{
                font-size: 4rem;
                text-align: center;
            }

            .class{
                text-align: center;
                font-size: 1.8rem;
                font-weight: 500;
            }

        }

        .content{
            display: flex;
            flex-direction: column;
            gap: 10rem;
            

            .top{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                gap: 2rem;
                    
                .titles{
                    display: flex;
                    flex-direction: column;
                    gap: 2rem;

                    .airline-detail{
                        display: flex;
                        flex-direction: column;

                        .logo{
                            width:5rem;
                            height:5rem;
                            object-fit: cover;
                        }

                        .airline-text{
                            display: flex;
                            align-items: center;
                            gap: 1rem;

                            h3{
                                font-size: 2.5rem;
                            }

                            p{
                                font-size: 2rem;
                            }

                        }
                    }

                    .detail{
                        display: flex;
                        gap: 2rem;
                        align-items: center;
                        
                        .date{
                            font-size: 1.5rem;
                            padding: .5rem 1.5rem;
                            border-radius: 3rem;
                            background-color: #0c487c2f;
                        }
                        
                        .stops, .travel-time, .class{
                            font-size: 1.5rem;
                        }
                    }
                }
            
                .price{
                    
                    button{
                        padding: 1rem 2em;
                        border: none;
                        background-color: #2e70ab;
                        color: white;
                        border-radius: 3rem;
                        cursor: pointer;
                        transition: .1s all ease-in-out;
                        font-size: 2rem;
                        font-weight: bold;
                        
                        
                        &:hover{
                            background-color: #0c487c;
                            
                        }
                    }
                }
            }

            .bottom{
                display: flex;
                gap: 2rem;
                background-color: #0c487c1c;
                padding: 2rem 0rem;
                border-radius: 1rem;


                .time{
                   display: flex;
                   align-items: flex-end;
                   flex-direction: column;
                   justify-content: space-between;


                    li{
                        font-size: 2rem;

                        .code{
                            font-size: 2.5rem;
                            font-weight: 500;
                        }
                    }

                    
                    
                    &>li{
                        display: flex;
                        align-items: center;
                        gap: 2rem;
                        position: relative; 
                        padding-left: 2rem; 
                        
                        display: flex;
                        align-items: center;
                        gap: 2rem;
                        .city{
                            font-size: 2.5rem;
                            font-weight: 500;
                        }
                        .airport{
                            font-size: 2rem;
                        }
                    }
                    
                    
                    
                    .vertical-line{
                        height: 5rem;
                    }
                }

                .place{

                    display: flex;
                    flex-direction: column;
                    list-style: none; /* Remove default bullet points */
                    padding-left: 0; /* Remove default left padding for list items */
                    
                    &>li{
                        display: flex;
                        align-items: center;
                        gap: 2rem;
                        position: relative; 
                        padding-left: 2rem; 
                        
                        display: flex;
                        align-items: center;
                        gap: 2rem;
                        .city{
                            font-size: 2.5rem;
                            font-weight: 500;
                        }
                        .airport{
                            font-size: 2rem;
                        }
                        .code, .date{
                            font-size: 1.5rem;
                        }
                    }
                    
                    & > li::before {
                        content: "";
                        position: absolute;
                        left: 0; /* Position the bullet at the left */
                        width: 1rem;
                        height: 1rem;
                        border-radius: 50%; /* Create a circle */
                        background-color: #0c487c; /* Color of the circle */
                    }
                    
                    .vertical-line{
                        border-left: .4rem dashed #0c487c;
                        height: 10rem;
                        margin-left: .3rem;
                        display: flex;
                        align-items: center;
                        padding: 2rem;

                        p{
                            font-size: 2rem;
                        }
                    }
                    
                }
                
            }

            .additonal-info{
                p{
                    font-size: 2rem;

                    .contact{
                        color: #0c487c;
                        font-weight: bold;
                    }
                }

                .call{
                    font-size: 2.5rem;
                    display: flex;
                    gap: 1rem;
                    align-items: center;
                    color: #0c487c;


                    .icon{
                        font-size: 3rem;
                        border-radius: 50%;
                        padding: .5rem;
                        background-color: #0c487c;
                        color: white;
                    }
                }
                
            }
        }
    }
}
.no-data{
    overflow: hidden;
    padding: 10rem 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;

        p{
            font-size: 4rem;
        }

         
        button{
            padding: 1rem 2em;
            border: none;
            background-color: #2e70ab;
            color: white;
            border-radius: 3rem;
            cursor: pointer;
            transition: .1s all ease-in-out;
            font-size: 2rem;
            font-weight: bold;
            
            
            &:hover{
                background-color: #0c487c;
                
            }
        }
    }
}