$small : 600px;
$medium : 768px;
$large : 992px;


@mixin for-small {
    @media only screen and (max-width: $small) {
        @content
    }
}

@mixin for-medium {
    @media only screen and (max-width: $medium) {
        @content
    }
}

@mixin for-large {
    @media only screen and (max-width: $large) {
        @content
    }
}


.howWeCanHelp {
    overflow: hidden;
    padding: 10rem 4rem;

    @include for-small {
        padding: 3rem 2rem;

    }

    .Container {
        height: 100%;
        width: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;

        .titles {

            h2 {
                font-size: 4rem;
                text-align: center;
                padding-bottom: 2rem;
                font-weight: 580;

                @include for-small() {
                    font-size: 3rem;
                }

                @include for-medium() {
                    font-size: 3rem;
                }
            }

            p {
                font-size: 2rem;
                color: #222;
                text-align: center;
            }
        }

        .cards {
            display: flex;
            flex-wrap: wrap;

            @include for-small {
                display: block;
            }

            @include for-medium() {
                display: block;
            }

            .card {
                flex: 1;
                padding: 4rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 1.5rem;
                transition: .2s all ease-in-out;

                &:hover {
                    .icon {
                        background-color: #00794c;

                    }
                }

                .icon {
                    transition: .2s all ease-in-out;
                    background-color: #0eb77a;
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    color: white;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        font-size: 3rem;
                    }

                }

                h3 {
                    font-size: 2rem;
                    font-weight: 500;
                    text-align: center;
                }

                p {
                    font-size: 1.5rem;
                    color: #222;
                    text-align: center;

                }
            }
        }
    }
}