$f-primary : 'Josefin Sans', sans-serif;
$f-secondary : 'Indie Flower', cursive;
$c-front : #2e70ab;
$c-back : #1D1F20;
$c-back-light : #383838;
$c-hilight : #0066ff;

.popup{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .container{
        position: relative;
        background-color: #fff;
        width: 80%;
        height: 80%;

        .inner-container{
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
            border-radius: 2rem;
            
            background: url("/clouds1000.png");
            background: url("/clouds1000.png") 0 200px,
                        url("/clouds1200_1.png") 0 300px,
                        url("/clouds1000_blur3.png") 100px 250px;
              animation: wind 20s linear infinite;

            @keyframes wind{
            0% {
                background-position: 0 200px, 0 300px, 100px 250px;
            }
            100% {
                background-position: 1000px 200px, 1200px 300px, 1100px 250px;
            }
            }
       
        
        }

        .loader{
            
            background: none;
            display: flex;
            align-self: center;
            justify-content: center;

            .svg-calLoader {
                // transform-origin: 115px 115px;
                animation: 1.4s linear infinite loader-spin;
            }
            
            .cal-loader__plane { 
                fill: $c-hilight; 
            }

            .cal-loader__path { 
                stroke: $c-front; animation: 1.4s ease-in-out infinite loader-path; 
            }
            
            @keyframes loader-spin {
            to{
                transform: rotate(360deg);
            }
            }
            @keyframes loader-path {
            0%{
                stroke-dasharray:  0, 580, 0, 0, 0, 0, 0, 0, 0;
            }
            50%{
                stroke-dasharray: 0, 450, 10, 30, 10, 30, 10, 30, 10;
            }
            100%{
                stroke-dasharray: 0, 580, 0, 0, 0, 0, 0, 0, 0;
            }
            }
        }

        .text{
            
            h2{
                font-size: 5rem;
                text-align: center;
            }

            p{
                font-size: 2rem;
                text-align: center;
            }
        }
    }
}