$small: 600px;
$medium: 768px;
$large: 992px;

@mixin for-small {
  @media only screen and (max-width: $small) {
    @content;
  }
}

@mixin for-medium {
  @media only screen and (max-width: $medium) {
    @content;
  }
}

@mixin for-large {
  @media only screen and (max-width: $large) {
    @content;
  }
}

.contact-us {
  .Container {
    .enjoyable {
      font-weight: 600;
    }

    .map-container {
      width: 100%;

      .map {
        width: 100%;
      }
    }

    .content {
      //   display: flex;
      //   flex-wrap: wrap;

      .left {
        flex: 1;
        // background-color: #2e70ab;
        // padding: 4rem 7rem;
        display: flex;
        flex-direction: column;
        gap: 4rem;
        align-items: flex-start;
        justify-content: center;

        // @include for-small {
        //   padding: 4rem;
        // }
      }

      .right {
        flex: 2;
        padding: 4rem 10rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        background-color: #2e70ab;
        border-radius: 4rem 0rem 0rem 4rem;

        @include for-small {
          border-radius: 0rem;
          padding: 4rem;
        }

        .titles {
          color: #fff;
          display: flex;
          flex-direction: column;
          gap: 1rem;

          h2 {
            font-size: 3rem;
          }

          p {
            font-size: 1.5rem;
          }
        }

        .form {
          display: flex;
          flex-direction: column;
          gap: 2rem;

          input {
            font-size: 1.5rem;
            padding: 0.8rem 1.5rem;
            background-color: whitesmoke;
            border: none;
            border-radius: 2rem;
            color: #111;
            border: 0.05rem solid white;
            outline: none;
          }

          textarea {
            resize: none;
            font-size: 1.5rem;
            padding: 0.8rem 1.5rem;
            background-color: #edf2fa;
            border: none;
            border-radius: 2rem;
            outline: none;
          }

          button {
            padding: 0.8rem 1.5rem;
            background-color: #004887;
            border: none;
            font-size: 1.5rem;
            padding: 0.8rem 1.5rem;
            color: white;
            cursor: pointer;
            border-radius: 2rem;
            border: 0.1rem solid transparent;
            transition: all 0.1s ease-in-out;

            &:hover {
              border: 0.1rem solid whitesmoke;
              background-color: whitesmoke;
              color: #0a3cf5;
            }
          }
        }
      }
    }
  }
}
