.contact{
    // background-color: #aed1ff;

    .container{
        padding: 4rem;

        display: flex;
        flex-wrap: wrap;
        gap: 4rem;

        &>:nth-child(2){
            background-color: whitesmoke;
            border-radius: 2rem;

        }

        .item{
            flex: 1;
            display: flex;
            flex-direction: row;

            align-items: center;
            justify-content: flex-start;
            gap: 2rem;
            padding: 4rem;
       

            .img{

                img{
                    width: 6.6rem;
                    height: 7rem;
                    object-fit: contain;
                }
            }

            .text{

                .title{
                    font-size: 2.2rem;
                    font-weight: 500;
                    text-align: left;
                    font-weight: bold;
                }

                .subtitle{
                    font-size: 2rem;
                    font-weight: 400;
                    color: #345c87;
                }

                .desc{
                    font-size: 1.5rem;
                    font-weight: 400;
                    color: #000;
                }
            }
        }
    }

}

.misc{

    background-color: whitesmoke;
    .container{
        padding: 4rem;

        display: flex;
        flex-wrap: wrap;

        &>:first-child{
            flex: 3;
        }
        &>:nth-child(2){
            flex: 2;
        }

        &>:last-child{
            flex:1;
        }

        .item{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;

           
            gap: 2rem;
            padding: 4rem;

            .content{
                display: flex;
                gap: 2rem;
                flex-wrap: wrap;
            }

            h3{
                font-size: 2.2rem;
            }


            ul{
                display: flex;
                flex-direction: column;
                gap: 1rem;

                li{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    flex-wrap: wrap;
                    gap: 1rem;
                    font-size: 1.5rem;


                    .icon{
                        font-size: 2rem;
                    }

                }
            }
        }

        .social{
            ul{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                .icon{
                    cursor: pointer;
                }
            }
        }
    }

}
