$small : 600px;
$medium : 768px;
$large : 992px;


@mixin for-small{
    @media only screen and (max-width: $small) {
        @content
      }  
}

@mixin for-medium{
    @media only screen and (max-width: $medium) {
        @content
      }  
}

@mixin for-large{
    @media only screen and (max-width: $large) {
        @content
      }  
}

.explore{
     overflow: hidden;
    padding: 10rem 4rem;
    margin-bottom: 10rem;

    @include for-small{
        padding: 5rem 2rem;
    }

    .container{

        display: flex;
        flex-direction: column;
        gap: 5rem;

        .titles{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            @include for-small{
                flex-direction: column;
            }

              h2{
                flex: 1;
                font-size: 5rem;
                text-align: left;

                  @include for-small{
               text-align: center;
                }
            }

            p{
                  flex: 1;
                font-size: 2rem;
                text-align: right;
                color: #222;

                 @include for-small{
               text-align: center;
                }

              
            }
        }

        .content{

            .cards{
                width: 100%;
                display: flex;
                gap: 4rem;
                flex-wrap: wrap;

                 @include for-medium(){
                   flex-direction: column;
                }

                .card{
                    // width: 31.6%;
                    flex: 1;
                    height: 50rem;
                    cursor: pointer;

                    overflow: hidden;
                    position: relative;
                    transition: .2s all ease-in-out;

                      @include for-medium{
                        &:hover h4{
                        color: white;
                        display: flex;
                        }
                      }

                         &:hover img{
                            transform: scale(1.1);
                            transition: all 0.3s ease-in-out;
                            filter: brightness(70%);
                        }

                  
                     h4{
                        margin-top: 1rem;
                            font-size: 2.5rem;
                            font-weight: 500;

                            @include for-medium{
                                position: absolute;
                                z-index: 999;
                                top: 40%;
                                left: 10%;
                                display: none;
                                font-size: 3rem;

                            }
                        }


                    .img{
                        height: 80%;
                        overflow: hidden;
                        border-radius: 2rem;

                       
                         img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;

                        

                        }
                        

                       
                    }

                   
                }
            }
        }
    }
}
